name: Publish draft_builder

on:
  workflow_dispatch: {}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      PACKAGE_PATH: packages/draft_builder
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: 3.10.1

      - name: Install dependencies
        working-directory: ${{ env.PACKAGE_PATH }}
        run: dart pub get

      - name: Run generator
        working-directory: ${{ env.PACKAGE_PATH }}
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Publish
        run: dart pub publish --force
        working-directory: ${{ env.PACKAGE_PATH }}
